<div class="row" >
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class=card>
            <div class=image>
                    <img
                        [src]="char.image"
                        [alt]="char.name"
                        class="card-img-top"
                    />
            </div>
            <div class="car-inner">
                <div class="header">
                    <h2>{{char.name}}</h2>
                    <h4 class="text-muted">{{char.gender}}</h4>
                    <small class="text-muted">{{char.created | date}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark">Go Back</button>